In [175]:
import pandas as pd
import pickle
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler

In [116]:
with open('data/interim/books_data.pkl', 'rb') as f:
    books_data = pickle.load(f)

with open('data/interim/ratings_data.pkl', 'rb') as f:
    ratings_data= pickle.load(f)

with open('data/interim/users_data.pkl', 'rb') as f:
    users_data= pickle.load(f)

with open('data/interim/books_ratings.pkl', 'rb') as f:
    books_ratings= pickle.load(f)

    users_data = pd.DataFrame(users_data)

In [117]:
users_data['Age'].fillna(0, inplace=True)
users_data['Location'].fillna('', inplace=True)

users_data = users_data.head(1000)
users_data

     User-ID                                 Location  Age
0          1                       nyc, new york, usa    0
1          2                stockton, california, usa   18
2          3          moscow, yukon territory, russia    0
3          4                porto, v.n.gaia, portugal   17
4          5       farnborough, hants, united kingdom    0
..       ...                                      ...  ...
995      996            bellefonte, pennsylvania, usa    0
996      997                  meeteetse, wyoming, usa    0
997      998  champs sur marne, île de france, france    0
998      999                    newark, delaware, usa   21
999     1000                   teramo, abruzzo, italy   34

[1000 rows x 3 columns]

In [130]:
tfidf_vectorizer = TfidfVectorizer()

location_tfidf = tfidf_vectorizer.fit_transform(users_data['Location'])

cosine_sim = pd.DataFrame(cosine_similarity(location_tfidf)).reset_index(drop=True)

cosine_sim

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,0.038257,0.0,0.0,0.0,0.029843,0.039204,0.0,0.032330,0.0,...,0.030868,0.0,0.0,0.034895,0.121419,0.034338,0.029849,0.0,0.030724,0.0
1,0.038257,1.000000,0.0,0.0,0.0,0.193259,0.047147,0.0,0.038880,0.0,...,0.037122,0.0,0.0,0.041964,0.000000,0.041295,0.035896,0.0,0.036949,0.0
2,0.000000,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
3,0.000000,0.000000,0.0,1.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
4,0.000000,0.000000,0.0,0.0,1.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.034338,0.041295,0.0,0.0,0.0,0.032212,0.042317,0.0,0.034897,0.0,...,0.033319,0.0,0.0,0.037665,0.000000,1.000000,0.032219,0.0,0.033163,0.0
996,0.029849,0.035896,0.0,0.0,0.0,0.028001,0.036785,0.0,0.030335,0.0,...,0.028963,0.0,0.0,0.032741,0.000000,0.032219,1.000000,0.0,0.028828,0.0
997,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.0
998,0.030724,0.036949,0.0,0.0,0.0,0.028822,0.037863,0.0,0.031224,0.0,...,0.029812,0.0,0.0,0.033701,0.000000,0.033163,0.028828,0.0,1.000000,0.0
999,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.0

In [216]:
def user_recommendation(UserID):
    user_age = users_data.loc[users_data['User-ID'] == UserID]

    users_locations = pd.DataFrame(cosine_sim.loc[UserID - 1].values.reshape(1, -1), columns=cosine_sim.columns).transpose()

    user_df = pd.concat([users_data[['Age']], users_locations], axis=1)

    scaler = MinMaxScaler()

    scaled_cosine_sim = scaler.fit_transform(cosine_sim)

    cosine = pd.DataFrame(scaled_cosine_sim, columns=cosine_sim.columns, index=cosine_sim.index)

    cosine = cosine.loc[UserID - 1]

    cosine = cosine.apply(pd.to_numeric, errors='coerce')

    top_5_indices = cosine.nlargest(5).index.tolist()

    users = users_data.loc[top_5_indices]['User-ID']

    ISBN = ratings_data.loc[(ratings_data['User-ID'].isin(users)) & (ratings_data['Book-Rating'] > 5)]['ISBN']

    books = books_data.loc[books_data['ISBN'].isin(ISBN)]

    return books

In [222]:
ratings_data.loc[ratings_data['ISBN'] == '0590353403']

User-ID                             254
Location    minneapolis, minnesota, usa
Age                                  24
Name: 253, dtype: object

In [ ]:
users_data.loc[253]

In [221]:
user_recommendation(254)

,ISBN,Book-Author,Book-Title,Year-Of-Publication,Publisher,Language
269,0373836023,GEORGETTE HEYER,POWDER AND PATCH,2004,HARLEQUIN,EN
274,037582345X,PHILIP PULLMAN,"THE GOLDEN COMPASS HIS DARK MATERIALS, BOOK 1",2002,KNOPF BOOKS FOR YOUNG READERS,EN
275,0375823468,PHILIP PULLMAN,"THE SUBTLE KNIFE HIS DARK MATERIALS, BOOK 2",2002,KNOPF BOOKS FOR YOUNG READERS,EN
276,0380730448,SUE TOWNSEND,THE ADRIAN MOLE DIARIES THE SECRET DIARY OF A...,1997,PERENNIAL,FR
277,0380973839,RAY BRADBURY,MARTIAN CHRONICLES,1997,WILLIAM MORROW,EN
282,0451409256,ISABEL WOLFF,MAKING MINTY MALONE,2000,ONYX BOOKS,EN
285,0451526341,GEORGE ORWELL,ANIMAL FARM,2004,SIGNET,EN
300,156971620X,NEIL GAIMAN,HARLEQUIN VALENTINE,2002,DARK HORSE COMICS,EN
356,0142001740,SUE MONK KIDD,THE SECRET LIFE OF BEES,2003,PENGUIN BOOKS,FR
485,0671021001,WALLY LAMB,SHE'S COME UNDONE OPRAH'S BOOK CLUB,1998,POCKET,EN
1175,0380789035,NEIL GAIMAN,AMERICAN GODS,2002,HARPERTORCH,EN
2104,0451524934,GEORGE ORWELL,1984,1990,SIGNET BOOK,EN
2785,0618002219,J.R.R. TOLKIEN,THE HOBBIT OR THERE AND BACK AGAIN,1999,HOUGHTON MIFFLIN COMPANY,EN
2809,0590353403,J. K. ROWLING,HARRY POTTER AND THE SORCERER'S STONE BOOK 1,1998,SCHOLASTIC,EN
2969,0399146431,AMY TAN,THE BONESETTER'S DAUGHTER,2001,PUTNAM PUBLISHING GROUP,EN
3459,0439064872,J. K. ROWLING,HARRY POTTER AND THE CHAMBER OF SECRETS BOOK 2,2000,SCHOLASTIC,EN
3839,0439136350,J. K. ROWLING,HARRY POTTER AND THE PRISONER OF AZKABAN BOOK 3,1999,SCHOLASTIC,EN
4241,0380973650,NEIL GAIMAN,AMERICAN GODS A NOVEL,2001,WILLIAM MORROW,EN
5431,0439139597,J. K. ROWLING,HARRY POTTER AND THE GOBLET OF FIRE BOOK 4,2000,SCHOLASTIC,EN
5432,0439064864,J. K. ROWLING,HARRY POTTER AND THE CHAMBER OF SECRETS BOOK 2,1999,SCHOLASTIC,EN
6096,0451167317,STEPHEN KING,THE DARK HALF,1994,SIGNET BOOK,EN
6330,0439136369,J. K. ROWLING,HARRY POTTER AND THE PRISONER OF AZKABAN BOOK 3,2001,SCHOLASTIC,EN
9254,0679879242,PHILIP PULLMAN,"THE GOLDEN COMPASS HIS DARK MATERIALS, BOOK 1",1996,KNOPF BOOKS FOR YOUNG READERS,EN
9388,0312863934,CHARLES DE LINT,YARROW,1997,ORB BOOKS,EN
9727,0064471047,C. S. LEWIS,"THE LION, THE WITCH, AND THE WARDROBE THE CHRO...",1994,HARPERCOLLINS,EN
12763,0618002227,J. R. R. TOLKIEN,THE FELLOWSHIP OF THE RING THE LORD OF THE RIN...,1999,HOUGHTON MIFFLIN COMPANY,EN
14781,0451406176,CATHERINE COULTER,THE DUKE,1995,TOPAZ,EN
15415,1563895730,NEIL GAIMAN,SANDMAN THE DREAM HUNTERS,1999,DC COMICS,EN
15423,156389226X,NEIL GAIMAN,"DREAM COUNTRY SANDMAN, BOOK 3",1999,DC COMICS,EN
15441,038097827X,NEIL GAIMAN,THE WOLVES IN THE WALLS,2003,HARPERCOLLINS,EN
15453,0380973634,NEIL GAIMAN,NEVERWHERE,1997,WILLIAM MORROW,EN
15473,0060502320,KAREN KENDALL,"I'VE GOT YOU, BABE",2002,AVON,EN
15495,0373834446,GEORGETTE HEYER,THE NONESUCH,2000,HARLEQUIN,EN
15496,0380810492,ELIZABETH BEVARLY,HE COULD BE THE ONE AVON LIGHT CONTEMPORARY RO...,2001,AVON,EN
15502,1931081727,POPPY Z. BRITE,THE DEVIL YOU KNOW,2003,SUBTERRANEAN PRESS,EN
15508,0060934700,NEIL GAIMAN,SMOKE AND MIRRORS SHORT FICTIONS AND ILLUSIONS,2001,PERENNIAL,EN
15509,0373834489,GEORGETTE HEYER,CORINTHIAN,2000,HARLEQUIN,EN
15513,0380977281,NEIL GAIMAN,STARDUST,1999,WILLIAM MORROW,EN
15515,1556520743,ASSATA SHAKUR,ASSATA AN AUTOBIOGRAPHY LAWRENCE HILL &AMP; CO.,1987,LAWRENCE HILL BOOKS,EN
15517,1567310877,PHILIP NORMAN,SHOUT! THE BEATLES IN THEIR GENERATION,1997,MJF BOOKS,EN
15526,0681415207,MICHAEL HEATLEY,THE IMMORTAL JOHN LENNON 1940-1980 THE IMMORTA...,1992,LONGMEADOW PRESS,MT
15529,0375756469,ANNIE LEIBOVITZ,WOMEN,2000,RANDOM HOUSE,EN
15533,0380817845,ELAINE FOX,MAN AT WORK AVON LIGHT CONTEMPORARY ROMANCES,2002,AVON,EN
15537,0553263633,RAY BRADBURY,MARTIAN CHRONICLES,1984,BANTAM BOOKS,EN
15538,0060976977,JONATHAN KOZOL,AMAZING GRACE LIVES OF CHILDREN AND THE CONSC...,1996,PERENNIAL,EN
15539,0553280325,RAY BRADBURY,SOMETHING WICKED THIS WAY COMES,1983,BANTAM,EN
15540,0373810431,AIMEE THURLO,EXPIRATION DATE MEN AT WORK,1998,HARLEQUIN BOOKS,EN
15544,0373226063,REBECCA YORK,BAYOU BLOOD BROTHERS TYLER/NICK/JULES HARLEQUI...,2001,HARLEQUIN,EN
15547,0373810601,KATHLEEN KORBEL,HOTSHOT,1990,HARLEQUIN,EN