In [3]:
import pandas as pd
import pickle

In [4]:
# import of the data
with open('C:/Users/ASUS/anaconda3/data_scentics/data/interim/books_data.pkl', 'rb') as f:
    books_data = pickle.load(f)

with open('C:/Users/ASUS/anaconda3/data_scentics/data/interim/ratings_data.pkl', 'rb') as f:
    ratings_data= pickle.load(f)

with open('C:/Users/ASUS/anaconda3/data_scentics/data/interim/users_data.pkl', 'rb') as f:
    users_data= pickle.load(f)

In [5]:
# info about books_data
books_data.info

<bound method DataFrame.info of               ISBN         Book-Author  \
0       0195153448     MAR.P.O.MORFORD
1       0002005018  RICHAR.BRUC.WRIGHT
2       0060973129         CARL.D'ESTE
3       0374157065      GIN.BAR.KOLATA
4       0393045218        E.J.W.BARBER
...            ...                 ...
271355  0440400988       PAUL.DANZIGER
271356  0525447644           TER.SLOAT
271357  006008667X     CHRISTIN.WICKER
271358  0192126040               PLATO
271359  0767409752  CHRISTOPHE. BIFFLE

                                               Book-Title  \
0                                     CLASSICAL MYTHOLOGY
1                                            CLARA CALLAN
2                                    DECISION IN NORMANDY
3       FLU THE STORY OF THE GREAT INFLUENZA PANDEMIC ...
4                                  THE MUMMIES OF URUMCHI
...                                                   ...
271355                         THERE'S A BAT IN BUNK FIVE
271356                            FROM ONE TO ONE HUNDRED
271357  LILY DALE  THE TRUE STORY OF THE TOWN THAT TAL...
271358                          REPUBLIC WORLD'S CLASSICS
271359  A GUIDED TOUR OF RENE DESCARTES' MEDITATIONS O...

        Year-Of-Publication                                         Publisher  \
0                      2002                           OXFORD UNIVERSITY PRESS
1                      2001                             HARPERFLAMINGO CANADA
2                      1991                                   HARPERPERENNIAL
3                      1999                              FARRAR STRAUS GIROUX
4                      1999                        W. W. NORTON &AMP; COMPANY
...                     ...                                               ...
271355                 1988                   RANDOM HOUSE CHILDRENS PUB (MM)
271356                 1991                                      DUTTON BOOKS
271357                 2004                                HARPERSANFRANCISCO
271358                 1996                           OXFORD UNIVERSITY PRESS
271359                 2000  MCGRAW-HILL HUMANITIES/SOCIAL SCIENCES/LANGUAGES

       Language
0            EN
1            EN
2            EN
3            EN
4            EN
...         ...
271355       EN
271356       EN
271357       EN
271358       EN
271359       IT

[271360 rows x 6 columns]>

In [6]:
# mean value of the lenght of the book title
books_data['Book-Title'].str.len().mean()

36.92450250589623

In [7]:
# info about ratings data
ratings_data.info

<bound method DataFrame.info of          User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]>

In [8]:
# info about users data
users_data.info

<bound method DataFrame.info of         User-ID                            Location  Age
0             1                  nyc, new york, usa    0
1             2           stockton, california, usa   18
2             3     moscow, yukon territory, russia    0
3             4           porto, v.n.gaia, portugal   17
4             5  farnborough, hants, united kingdom    0
...         ...                                 ...  ...
278853   278854               portland, oregon, usa    0
278854   278855  tacoma, washington, united kingdom   50
278855   278856           brampton, ontario, canada    0
278856   278857           knoxville, tennessee, usa    0
278857   278858                dublin, n/a, ireland    0

[278858 rows x 3 columns]>

In [9]:
# left merge/join of ratings data and books data
pd.merge(ratings_data, books_data, on='ISBN', how='left')

,User-ID,ISBN,Book-Rating,Book-Author,Book-Title,Year-Of-Publication,Publisher,Language
0,276725,034545104X,0,M.J.ROSE,FLESH TONES A NOVEL,2002.0,BALLANTINE BOOKS,EN
1,276726,0155061224,5,JUDIT.RAE,RITES OF PASSAGE,2001.0,HEINLE,EN
2,276727,0446520802,0,NICHOLA.SPARKS,THE NOTEBOOK,1996.0,WARNER BOOKS,EN
3,276729,052165615X,3,PHILI.PROWSE,HELP! LEVEL 1,1999.0,CAMBRIDGE UNIVERSITY PRESS,EN
4,276729,0521795028,6,SU.LEATHER,THE AMSTERDAM CONNECTION LEVEL 4 CAMBRIDGE EN...,2001.0,CAMBRIDGE UNIVERSITY PRESS,EN
...,...,...,...,...,...,...,...,...
1149775,276704,1563526298,9,CLAR.HOWARD,GET CLARK SMART THE ULTIMATE GUIDE FOR THE SA...,2000.0,LONGSTREET PRESS,FR
1149776,276706,0679447156,0,ANDRE.WEIL,EIGHT WEEKS TO OPTIMUM HEALTH A PROVEN PROGRAM...,1997.0,ALFRED A. KNOPF,EN
1149777,276709,0515107662,10,CATHERIN.COULTER,THE SHERBROOKE BRIDE BRIDE TRILOGY PAPERBACK,1996.0,JOVE BOOKS,EN
1149778,276721,0590442449,10,JERR.SPINELLI,FOURTH GRADE RATS,1996.0,SCHOLASTIC,EN
1149779,276723,05162443314,8,NaN,NaN,NaN,NaN,NaN

In [10]:
# left merge/join of books data and ratings data
books_ratings_merge = pd.merge(books_data, ratings_data, on='ISBN', how='left')
books_ratings_merge

,ISBN,Book-Author,Book-Title,Year-Of-Publication,Publisher,Language,User-ID,Book-Rating
0,0195153448,MAR.P.O.MORFORD,CLASSICAL MYTHOLOGY,2002,OXFORD UNIVERSITY PRESS,EN,2,0
1,0002005018,RICHAR.BRUC.WRIGHT,CLARA CALLAN,2001,HARPERFLAMINGO CANADA,EN,8,5
2,0002005018,RICHAR.BRUC.WRIGHT,CLARA CALLAN,2001,HARPERFLAMINGO CANADA,EN,11400,0
3,0002005018,RICHAR.BRUC.WRIGHT,CLARA CALLAN,2001,HARPERFLAMINGO CANADA,EN,11676,8
4,0002005018,RICHAR.BRUC.WRIGHT,CLARA CALLAN,2001,HARPERFLAMINGO CANADA,EN,41385,0
...,...,...,...,...,...,...,...,...
1032340,0440400988,PAUL.DANZIGER,THERE'S A BAT IN BUNK FIVE,1988,RANDOM HOUSE CHILDRENS PUB (MM),EN,276463,7
1032341,0525447644,TER.SLOAT,FROM ONE TO ONE HUNDRED,1991,DUTTON BOOKS,EN,276579,4
1032342,006008667X,CHRISTIN.WICKER,LILY DALE THE TRUE STORY OF THE TOWN THAT TAL...,2004,HARPERSANFRANCISCO,EN,276680,0
1032343,0192126040,PLATO,REPUBLIC WORLD'S CLASSICS,1996,OXFORD UNIVERSITY PRESS,EN,276680,0
1032344,0767409752,CHRISTOPHE. BIFFLE,A GUIDED TOUR OF RENE DESCARTES' MEDITATIONS O...,2000,MCGRAW-HILL HUMANITIES/SOCIAL SCIENCES/LANGUAGES,IT,276680,0

In [11]:
# adding column with mean rating to books data
mean_rating = books_ratings_merge.groupby('ISBN')['Book-Rating'].mean().reset_index(name = 'MeanRating')

books_ratings = pd.merge(books_data, mean_rating, how= 'left', on = 'ISBN')

books_ratings

,ISBN,Book-Author,Book-Title,Year-Of-Publication,Publisher,Language,MeanRating
0,0195153448,MAR.P.O.MORFORD,CLASSICAL MYTHOLOGY,2002,OXFORD UNIVERSITY PRESS,EN,0.0
1,0002005018,RICHAR.BRUC.WRIGHT,CLARA CALLAN,2001,HARPERFLAMINGO CANADA,EN,4.928571
2,0060973129,CARL.D'ESTE,DECISION IN NORMANDY,1991,HARPERPERENNIAL,EN,5.0
3,0374157065,GIN.BAR.KOLATA,FLU THE STORY OF THE GREAT INFLUENZA PANDEMIC ...,1999,FARRAR STRAUS GIROUX,EN,4.272727
4,0393045218,E.J.W.BARBER,THE MUMMIES OF URUMCHI,1999,W. W. NORTON &AMP; COMPANY,EN,0.0
...,...,...,...,...,...,...,...
271355,0440400988,PAUL.DANZIGER,THERE'S A BAT IN BUNK FIVE,1988,RANDOM HOUSE CHILDRENS PUB (MM),EN,7.0
271356,0525447644,TER.SLOAT,FROM ONE TO ONE HUNDRED,1991,DUTTON BOOKS,EN,4.0
271357,006008667X,CHRISTIN.WICKER,LILY DALE THE TRUE STORY OF THE TOWN THAT TAL...,2004,HARPERSANFRANCISCO,EN,0.0
271358,0192126040,PLATO,REPUBLIC WORLD'S CLASSICS,1996,OXFORD UNIVERSITY PRESS,EN,0.0
271359,0767409752,CHRISTOPHE. BIFFLE,A GUIDED TOUR OF RENE DESCARTES' MEDITATIONS O...,2000,MCGRAW-HILL HUMANITIES/SOCIAL SCIENCES/LANGUAGES,IT,0.0

In [12]:
# adding column with number of ratings to books data
number_of_ratings= books_ratings_merge.groupby('ISBN')['Book-Rating'].count().reset_index(name = 'NumberOfRatings')

books_ratings = pd.merge(books_ratings, number_of_ratings, how= 'left', on = 'ISBN')

books_ratings

,ISBN,Book-Author,Book-Title,Year-Of-Publication,Publisher,Language,MeanRating,NumberOfRatings
0,0195153448,MAR.P.O.MORFORD,CLASSICAL MYTHOLOGY,2002,OXFORD UNIVERSITY PRESS,EN,0.0,1
1,0002005018,RICHAR.BRUC.WRIGHT,CLARA CALLAN,2001,HARPERFLAMINGO CANADA,EN,4.928571,14
2,0060973129,CARL.D'ESTE,DECISION IN NORMANDY,1991,HARPERPERENNIAL,EN,5.0,3
3,0374157065,GIN.BAR.KOLATA,FLU THE STORY OF THE GREAT INFLUENZA PANDEMIC ...,1999,FARRAR STRAUS GIROUX,EN,4.272727,11
4,0393045218,E.J.W.BARBER,THE MUMMIES OF URUMCHI,1999,W. W. NORTON &AMP; COMPANY,EN,0.0,1
...,...,...,...,...,...,...,...,...
271355,0440400988,PAUL.DANZIGER,THERE'S A BAT IN BUNK FIVE,1988,RANDOM HOUSE CHILDRENS PUB (MM),EN,7.0,1
271356,0525447644,TER.SLOAT,FROM ONE TO ONE HUNDRED,1991,DUTTON BOOKS,EN,4.0,1
271357,006008667X,CHRISTIN.WICKER,LILY DALE THE TRUE STORY OF THE TOWN THAT TAL...,2004,HARPERSANFRANCISCO,EN,0.0,1
271358,0192126040,PLATO,REPUBLIC WORLD'S CLASSICS,1996,OXFORD UNIVERSITY PRESS,EN,0.0,1
271359,0767409752,CHRISTOPHE. BIFFLE,A GUIDED TOUR OF RENE DESCARTES' MEDITATIONS O...,2000,MCGRAW-HILL HUMANITIES/SOCIAL SCIENCES/LANGUAGES,IT,0.0,1

In [13]:
# saving the merged data
with open('C:/Users/ASUS/anaconda3/data_scentics/data/interim/books_ratings.pkl', 'wb') as f:
    pickle.dump(books_ratings, f)